// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: rgb(252, 250, 245) !default;
$secondary: rgb(239, 239, 240) !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@font-face {
	font-family: "Garamond";
	src: url("./Fonts/EBGaramond-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Garamond";
	src: url("./Fonts/EBGaramond-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Garamond";
	src: url("./Fonts/EBGaramond-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Garamond";
	src: url("./Fonts/EBGaramond-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Garamond";
	background-color: $secondary;
}
body > * {
	background-color: $primary;
	border-radius: 10px;
	margin: clamp(5px, 1vw, 20px);
}
.hero {
	display: flex;
	position: relative;

	justify-content: center;
	align-items: center;
	height: 100dvh;
	text-align: center;
	background-image: url(Images/Background.svg);
	background-size: clamp(20rem, 50vw, 500px);
	background-repeat: no-repeat;
	background-position: center;
	h1 {
		font-weight: bold;
		font-size: clamp(4rem, 10vw, 8rem);
		color: black;
		transition: transform 300ms;
		&:hover {
			transform: scale(1.2);
			cursor: pointer;
		}
	}
}
.nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 245, 233);
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	ul {
		$fontSize: clamp(1.2rem, 2.5vw, 2.5rem);
		width: 100%;
		display: flex;
		list-style: none;
		justify-content: center;
		column-gap: clamp(20px, 5vw, 200px);
		align-items: center;
		font-weight: 600;
		margin: auto 0;
		li {
			display: grid;
			place-content: center;
			transition: transform 300ms;
			&:hover {
				transform: scale(1.2);
				cursor: pointer;
			}
			a {
				&:link,
				&:visited,
				&:hover,
				&:active {
					text-decoration: none;
					color: rgb(196, 133, 39);
				}
				h2 {
					font-size: $fontSize;
					/* Reset the margin to center the heading */
					margin: 0;
				}
				svg {
					width: calc(1.1 * $fontSize);
					height: calc(1.1 * $fontSize);
				}
			}
		}
	}
}

.home {
	text-align: center;
	width: 100%;
	padding: clamp(10px, 1vw, 30px);
}
.home-banner {
	position: relative;
	color: white;
	isolation: isolate;
}
.home-banner img {
	filter: brightness(0.5);
	max-width: 100%;
	display: block;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	z-index: -1;
}

.return {
	display: flex;
	justify-content: center;
	a {
		&:link,
		&:visited,
		&:hover,
		&:active {
			text-decoration: none;
			color: rgb(196, 133, 39);
		}
	}
}

.home,.menu,.reserve,.contact,.about{
	text-align: center;
}